[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dds_importer
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=DDS File Importer
Comment=A plugin that enables importing documents with DDS format.